.attribution {
  width: 100%;
  padding: 50px 0 80px;
  text-align: center;

  background-image: linear-gradient(0deg, rgba(53,54,94,0.65), rgba(53,54,94,0.65)), url(../images/attribution/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  .attribution__title {
    font-weight: 600;
    color: #fff;
  }

  &__cards {
    display: flex;
    gap: 3%;
    justify-content: space-between;

    @media  screen and (max-width:768px) {
      flex-wrap: wrap;
    }
  }

  &__card {
    padding: 3.75rem 1.87rem;
    border: 1px solid #fff;
    text-align: center;
    transition: all 0.4s ease 0s;

    @media  screen and (max-width:768px) {
      flex-basis: 100%;
      margin-bottom: 30px;
    }

    &-title {
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: 600;
      padding: 20px 0;
      color: #fff;
    }

    &-desc {
      font-size: 0.875rem;
      color: #fff;
    }
  }
}